<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <%- include ('blocks/header') -%>
        <div class="ib-wrapper">
            <div class="new-wrap">
                <h2>Нарушение контроля доступа</h2>
                <div>Это набор уязвимостей, при которых система плохо контролирует уровни доступа к информации или к
                    своей функциональности. Из-за этого злоумышленники могут пользоваться функциями, к которым не должны
                    иметь доступа.
                </div>
                <div>Представьте веб-приложение, где каждая учётная запись имеет разные права доступа. Если оно слабо
                    защищено, злоумышленник может модифицировать запросы или параметры URL, чтобы получить доступ к
                    данным, на которые у него нет прав.

                    Такая уязвимость может привести к разглашению или утрате конфиденциальной информации, взлому учётных
                    записей пользователей и нарушению целостности данных.
                </div>
                <div>Что делать:
                    <ul>
                        <li>Проектируйте контроль доступа на основе принципа наименьших привилегий. Пользователи должны
                            иметь только те права, которые необходимы для выполнения их задач.
                        </li>
                        <li>Проводите аутентификацию и авторизацию на всех уровнях приложения — и на серверной, и на
                            клиентской стороне.
                        </li>
                        <li>Регулярно проводите тестирование и аудит контроля доступа.</li>
                    </ul>
                </div>

                <div>Чего не стоит делать:
                    <ul>
                        <li>Полагаться только на скрытие ссылок или кнопок в пользовательском интерфейсе для ограничения
                            доступа.
                            Это не предотвратит доступ к закрытой функциональности по прямым запросам.</li>
                        <li>Доверять пользовательским входным данным при авторизации. Всегда следует проводить проверку
                            на сервере.
                        </li>
                        <li>Оставлять прежней политику контроля доступа при изменении требований и бизнес-логики
                            приложения.
                        </li>
                    </ul>

                </div>
                <div class="task"> В данном стенде рекомендуем прогуляться по сайту и найти панель администратора с помощью
                    модификации
                    запроса на сервер</div>


            </div>

        </div>

        <%- include ('blocks/footer') -%>
</body>

</html>