<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <title> Татошка контакты</title>
    </head>
    
    <body>
        <%- include ('blocks/header') -%>
        
        <div class="body-contact">
            <div class="vis-cont">
                <div class="main-cont">
                    <div class="label-cont" class="main-cont-item">
                        <img class="coc" src="img/кок1.png" alt="">
                    </div>
                    <div class="descr-cont" class="main-cont-item">
                       <div class="descr-cont-item">
                            <h1>Татошка</h1>
                            <h2>Ветеринарный центр</h2>
                       </div>
                       <div class="descr-cont-item">
                            <p>Нам важно,чтобы ваши питомцы чувствовали себя 
                                хорошо, а вы были довольны. Будьте уверены, вашему 
                                любимцу окажут квалифицированную помощь и каждого 
                                одарят вниманием и заботой.</p>
                                
                       </div>
                       <div class="descr-cont-item">
                            <p>г. Маегар, ул. Сактна, д. 25</p>
                       </div>
                       <div class="descr-cont-item">
                            <p>+7(968)469-56-59</p>
                       </div>
                    </div>
                </div>
                <div class="info-cont">
                    <p class="info-item">Помощь</p>
                    <p class="info-item">Любовь</p>
                    <p class="info-item">Забота</p>
                    <p class="info-item">Доверие</p>
                    <p class="info-item">Уважение</p>
                </div>
            </div>
        </div>

        
        



        <%- include ('blocks/footer') -%>
    </body>
</html>