<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="/css/style.css">
    <title> Татошка Доктора</title>
</head>

<body>
    <%- include ('blocks/header') -%>
   


    <div class="sp-h2">
        <h2>Наши специалисты</h3>
    </div>
    <div class="d-doctors">
        <div class="d-doctor">
            <div class="d-img">
                <img src="img/анна.jpg">
            </div>
            <div class="d-text">
                <h3>Анна</h3>
                <p>Ветеринар Анна, стаж работы более 15 лет.
                    -Ветеринарная клиника на ул. Ударников, д. 23
                    -Лечение и выхаживание животных с заболеваниями органов дыхания, пищеварения, глаз, мочеполовой
                    системы.
                    При необходимости, вызов ветеринарного врача на дом.
                    В нашей клинике работают опытные, квалифицированные врачи, которые проконсультируют Вас по телефону
                    и
                    при необходимости назначат лечение.
                    Наши врачи постоянно проходят курсы повышения квалификации, посещают специализированные выставки.
                </p>
            </div>

        </div>
        <div class="d-doctor d-2">
            <div class="d-img">
                <img src="img/андрей.jpg">
            </div>
            <div class="d-text">
                <h3>Андрей</h3>
                <p>
                    Ветеринар Андрей, стаж работы более 20 лет.
                    Ветеринарный врач-консультант.
                    Врач-ветеринар высшей категории.
                    Квалифицированная помощь в области ветеринарии.
                    Лечение домашних животных, собак, кошек, хорьков, птиц, грызунов.
                    Диагностика заболеваний, вакцинация.
                    Кастрация котов, стерилизация кошек.
                    Хирургия (удаление зубов, купирование ушей, хвоста).
                    Травматология.
                </p>
            </div>

        </div>
        <div class="d-doctor">
            <div class="d-img">
                <img src="img/лариса.jpg">
            </div>
            <div class="d-text">
                <h3>Лариса</h3>
                <p>Ветеринар Лариса, стаж работы более 5 лет.
                    Порода: цвергшнауцер.
                    Оказываю услуги по лечению и профилактике заболеваний у собак.
                    Провожу осмотр и вакцинацию собак в любой день недели.
                    Выезд к клиенту на дом.
                    Возможен выезд на своей машине.
                    Есть возможность провести консультации по телефону/вайберу, если нет возможности приехать.
                </p>
            </div>

        </div>
        <div class="d-doctor d-2" >
            <div class="d-img">
                <img src="img/ольга.jpg">
            </div>
            <div class="d-text">
                <h3>Ольга</h3>
                <p>Ветеринар Ольга, стаж работы более 25 лет.
                    Ветеринарный врач-терапевт с большим опытом, специалист по лечению и профилактике инфекционных
                    заболеваний у животных.
                    Проводит осмотр животных, диагностику, лечение, вакцинирование.
                    Выполняет хирургические операции: кастрация, стерилизация, удаление камней из мочевого пузыря и т.д.
                    В работе использует только сертифицированные препараты и расходные материалы, стерильные инструменты.
                    Также выполняет УЗИ диагностику на современном аппарате для животных.
                </p>
            </div>

        </div>
        <div class="d-doctor">
            <div class="d-img">
                <img src="img/анастасия.jpg">
            </div>
            <div class="d-text">
                <h3>Анастасия</h3>
                <p>Ветеринар Анастасия, стаж работы более 15 лет.
                    -Ветеринарная клиника на ул. Ударников, д. 23
                    -Лечение и выхаживание животных с заболеваниями органов дыхания, пищеварения, глаз, мочеполовой
                    системы.
                    При необходимости, вызов ветеринарного врача на дом.
                    В нашей клинике работают опытные, квалифицированные врачи, которые проконсультируют Вас по телефону
                    и
                    при необходимости назначат лечение.
                    Наши врачи постоянно проходят курсы повышения квалификации, посещают специализированные выставки.
                </p>
            </div>

        </div>
        <div class="d-doctor d-2">
            <div class="d-img">
                <img src="img/вера.jpg">
            </div>
            <div class="d-text">
                <h3>Вера</h3>
                <p>
                    Ветеринар Вера, стаж работы более 20 лет.
                    Ветеринарный врач-консультант.
                    Врач-ветеринар высшей категории.
                    Квалифицированная помощь в области ветеринарии.
                    Лечение домашних животных, собак, кошек, хорьков, птиц, грызунов.
                    Диагностика заболеваний, вакцинация.
                    Кастрация котов, стерилизация кошек.
                    Хирургия (удаление зубов, купирование ушей, хвоста).
                    Травматология.
                </p>
            </div>

        </div>
        <div class="d-doctor">
            <div class="d-img">
                <img src="img/виталий.jpg">
            </div>
            <div class="d-text">
                <h3>Виталий</h3>
                <p>Ветеринар Виталий, стаж работы более 5 лет.
                    Порода: цвергшнауцер.
                    Оказываю услуги по лечению и профилактике заболеваний у собак.
                    Провожу осмотр и вакцинацию собак в любой день недели.
                    Выезд к клиенту на дом.
                    Возможен выезд на своей машине.
                    Есть возможность провести консультации по телефону/вайберу, если нет возможности приехать.
                </p>
            </div>

        </div>
        <div class="d-doctor d-2" >
            <div class="d-img">
                <img src="img/дмитрий.jpg">
            </div>
            <div class="d-text">
                <h3>Дмитрий</h3>
                <p>Ветеринар Дмитрий, стаж работы более 25 лет.
                    Ветеринарный врач-терапевт с большим опытом, специалист по лечению и профилактике инфекционных
                    заболеваний у животных.
                    Проводит осмотр животных, диагностику, лечение, вакцинирование.
                    Выполняет хирургические операции: кастрация, стерилизация, удаление камней из мочевого пузыря и т.д.
                    В работе использует только сертифицированные препараты и расходные материалы, стерильные инструменты.
                    Также выполняет УЗИ диагностику на современном аппарате для животных.
                </p>
            </div>

        </div>
    </div>







    <%- include ('blocks/footer') -%>

</body>