<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <%- include ('blocks/header') -%>
        <div class="ib-wrapper">
            <div class="new-wrap">
                <div>Добро пожаловать в тестовый стенд по информационной безопасности веб-приложений.
                    Веб-приложение написано студентами 404 группы Бовчуровой И.П. и Закировым И.Д.</div>
                <div>В ходе прохождения и ознакомления с теоретическим материалом вы познакомитесь с основными
                    уязвимостями современных веб-приложений
                    Данная работа не несёт в себе цель обучения по проведению атак, а как раз наоброт - защиты от
                    подобного вида угроз и своевременного принятия мер по их устранению.
                </div>
                <div>Open Worldwide Application Security Project (OWASP) - это некоммерческая организация, цель которой
                    заключается в улучшении безопасности программного обеспечения.
                    Ежегодно она собирает статистику по уязвимостям веб-приложений, некоторая выдержка из последнего
                    исследования:
                    </div>
                <img src=".././img/mapping.png" alt="" width="650px" style="align-self: center;">
                <div>Самые распространенные уязвимости:</div>
                <img src=".././img/Снимок.JPG" width="650px" style="align-self: center;">
                <div>О некоторых уязвимостях можно прочитать подробнее в соответствующих разделах.</div>
            </div>
        </div>

        <%- include ('blocks/footer') -%>
</body>

</html>