<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <%- include ('blocks/header') -%>
        <div class="ib-wrapper">
            <div class="new-wrap">
                <h2>Ошибки идентификации и аутентификации</h2>
                <div>Слабые пароли, недостаточная проверка подлинности, неэффективные системы учёта сеансов — всё это
                    OWASP относит к ошибкам идентификации и аутентификации.
                </div>
                <div>Предположим, что веб-приложение допускает слабые пароли, такие как «123456», «admin» или «qwerty».
                    Злоумышленник может легко взломать аккаунт, угадав такой пароль или просто перебрав варианты.
                </div>
                <div>Сюда же относятся:
                    <ul>
                        <li>незащищённые способы восстановления паролей — например, подходы на основе знаний, когда
                            человек должен ответить на секретный вопрос;
                        </li>
                        <li>отсутствие многофакторной авторизации;
                        </li>
                        <li>раскрытие идентификатора сессии в URL.
                        </li>
                    </ul>
                </div>
                <div>
                    Что делать:
                    <ul>
                        <li>Используйте сильные механизмы аутентификации, такие как двухфакторная аутентификация.
                        </li>
                        <li>Требуйте от пользователей создавать пароли с высокой устойчивостью к взлому, включающие в
                            себя не только буквы, но и другие символы.
                        </li>
                        <li>Не раскрывайте идентификаторы сессии в URL-адресе.
                        </li>
                        <li>Блокируйте аккаунты после определённого количества неудачных попыток входа.
                        </li>
                    </ul>

                </div>
                <div>Чего не стоит делать:
                    <ul>
                        <li>Разрешать пользователям использовать слабые пароли или пароли по умолчанию.
                        </li>
                        <li>Хранить пароли пользователей в открытом виде в базе данных. Храните хеши паролей с солью.
                        </li>
                    </ul>
                </div>
                <div>Проведение SQL-инъекций в формы ввода не единственная возможность атаки, зачастую пароль от
                    привелигированных пользователей можно просто "подобрать".</div>
                <div class="task">Предлагаем вам попробовать сделать это всё в той же форме авторизации и подобрать пароль от
                    страницы администратора
                </div>


            </div>
        </div>

        <%- include ('blocks/footer') -%>
</body>

</html>