<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="../itc-slider.css">
    <script src="itc-slider.js" defer></script>
    <title> Ветеринарная клиника Татошка</title>
</head>

<body>

    <%- include ('blocks/header') -%>
        <div class="first_screen">
            <div class="first">
                <div class="label">
                    <div class="title">
                        <div>Ветеринарный</div>
                        <div>центр</div>
                        <img src="img/татошка.png" width="529" height="146">

                    </div>

                    <div class="text">Здоровье вашего питомца - наша забота</div>
                </div>

                <div class="sign">
                    <img src="img/pet 1.png" width="275px" height="400px">
                    <button>г. Маегар, ул. Сактна, д. 25 +79684695659</button>
                </div>
            </div>

        </div>
        <div class="description">


            <div class="title1">Ветеринарный центр "ТАТОШКА"</div>
            <div class="text">Это современное, надежное, эффективное и безопасное средство для лечения ваших питомцев.
                Мы предлагаем широкий спектр услуг: терапевтические, хирургические, стоматологические,
                офтальмологические, лабораторные, косметологические, груминг и другие услуги.
                В нашем ветеринарном центре работают высококвалифицированные специалисты, которые готовы оказать вам
                помощь в любое время суток. Вы можете получить консультацию врача по телефону или лично.</div>
            <div class="mask"></div>
        </div>

        <div class="main-index">
            
            <div class="serv-h2">
                <h2>Наши услуги</h2>
            </div>

            <div class="our_service_conteiner">
                <div class="service" onclick="location.href='services.html'">
                    <img class="serv_im" src="img/диагностика.jpg">
                    <p>Диагностика</p>
                </div>
                <div class="service" onclick="location.href='services.html'">
                    <img class="serv_im" src="img/профилактика.jpg">
                    <p>Профилактика</p>
                </div>
                <div class="service" onclick="location.href='services.html'">
                    <img class="serv_im" src="img/лечение.jpg">
                    <p>Лечение</p>
                </div>
                <div class="service" onclick="location.href='services.html'">
                    <img class="serv_im" src="img/хирургия.jpg">
                    <p>Хирургия</p>
                </div>
                <div class="service" onclick="location.href='services.html'">
                    <img class="serv_im" src="img/груминг.jpg">
                    <p>Груминг</p>
                </div>
                <div class="service" onclick="location.href='services.html'">
                    <img class="serv_im" src="img/ветаптека.jpg">
                    <p>Ветаптека</p>
                </div>

            </div>

        </div>

        <%- include ('blocks/footer') -%>
</body>