<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="../itc-slider.css">
    <script src="itc-slider.js" defer></script>
    <title> Ветеринарная клиника Татошка</title>
</head>

<body>

    <%- include ('blocks/header') -%>

    <div class="im-an">
        <img class="anim-img" src="img/animal.png" width="100%">
        <div class="animals-grad"></div>
    </div>
    <div class="main-index">
        <div class="cont-cont-adv">
            <div class="cont-adv">
                <div class="advert">
                    <h1>Неотложная помощь, ваш питомец в надежных руках!</h1>
                    <h2>Что-то случилось с питомцем? Не теряйте времени, запишитесь на прием!</h2>
                    <p>г.Маегар, ул. Сактна, д. 25
                        +79684695659
                    </p>
                </div>
                <div class="img-adv">
                    <img src="img/кок1.png" width="100%">
                </div>
            </div>
        </div>
        <div class="un-adv-grad">

        </div>



        <div class="tat">
            <h2>Ветеринарный центр "ТАТОШКА"</h2>
            <p> Это современное, надежное, эффективное и безопасное средство для лечения ваших питомцев.
                Мы предлагаем широкий спектр услуг: терапевтические, хирургические, стоматологические,
                офтальмологические, лабораторные, косметологические, груминг и другие услуги.
                В нашем ветеринарном центре работают высококвалифицированные специалисты, которые готовы оказать вам
                помощь в любое время суток.
                Вы можете получить консультацию врача по телефону или лично.</p>

        </div>
        <div class="tat-bg"></div>
        <div class="serv-h2">
            <h2>Наши услуги</h2>
        </div>

        <div class="our_service_conteiner">
            <div class="service">
                <img class="serv_im" src="img/диагностика.jpg">
                <p>Диагностика</p>


                <div class="ser-but" onclick="location.href='services.html'">
                    Перейти к услугам
                </div>
            </div>
            <div class="service">
                <img class="serv_im" src="img/профилактика.jpg">
                <p>Профилактика</p>
                <div class="ser-but" onclick="location.href='services.html'">
                    Перейти к услугам
                </div>
            </div>
            <div class="service">
                <img class="serv_im" src="img/лечение.jpg">
                <p>Лечение</p>
                <div class="ser-but" onclick="location.href='services.html'">
                    Перейти к услугам
                </div>
            </div>
            <div class="service">
                <img class="serv_im" src="img/хирургия.jpg">
                <p>Хирургия</p>
                <div class="ser-but" onclick="location.href='services.html'">
                    Перейти к услугам
                </div>
            </div>
            <div class="service">
                <img class="serv_im" src="img/груминг.jpg">
                <p>Груминг</p>
                <div class="ser-but" onclick="location.href='services.html'">
                    Перейти к услугам
                </div>
            </div>
            <div class="service">
                <img class="serv_im" src="img/ветаптека.jpg">
                <p>Ветаптека</p>
                <div class="ser-but" onclick="location.href='services.html'">
                    Перейти к услугам
                </div>
            </div>

        </div>
      
    </div>

    <%- include ('blocks/footer') -%>
</body>