<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <%- include ('blocks/header') -%>
        <div class="ib-wrapper">
            <div class="new-wrap">
                <h2>Ошибки логгирования и мониторинга безопасности</h2>
                <div>Это уязвимости, при которых система неправильно регистрирует аномальные события, касающиеся
                    безопасности. К ним также относят отсутствие или неправильную настройку механизмов логирования и
                    отсутствие уведомлений о подозрительных событиях.
                </div>
                <div>Если в системе отсутствует мониторинг безопасности, то атаки злоумышленников могут остаться
                    незамеченными. Это снижает вероятность быстрой реакции на возникающие инциденты, обнаружение угроз и
                    определение их источников.
                </div>
                <div>Предположим, что веб-приложение не регистрирует попытки неудачной аутентификации. Злоумышленник
                    пытается многократно взломать аккаунт пользователя или администратора, а разработчик не замечает
                    этого — система не фиксирует такие попытки.
                </div>
                <div>Что делать:
                    <ul>
                        <li>Внедрите механизмы логирования для регистрации важных событий, таких как попытки
                            аутентификации, изменения в конфигурации и доступе к чувствительным данным.
                        </li>
                        <li>Установите систему мониторинга, которая анализирует логи на наличие подозрительной
                            активности и уведомляет вас об инцидентах.
                        </li>
                        <li>Определите чёткие процедуры реагирования на инциденты и оповещения и обязательно расскажите
                            о них всей команде.
                        </li>
                    </ul>
                </div>
                <div>Чего не стоит делать:
                    <ul>
                        <li>Оставлять логирование без внимания. Регулярно анализируйте логи для выявления аномальных
                            событий.
                        </li>
                        <li>Обходиться без мониторинга. Обязательно убедитесь, что система мониторинга активна и
                            правильно настроена.
                        </li>
                        <li>Использовать только автоматические уведомления о состоянии системы. Регулярно вручную
                            проверяйте состояние системы и логов.
                        </li>
                    </ul>
                </div>
                <div>Современные браузеры позволяют разобрать веб-приложение буквально "по кирпичикам", идея о контроле
                    логгирования должна постоянно сидеть в голове разработчика за недопущением утечки чувствительной
                    информации.
                </div>

            </div>

        </div>
        <%- include ('blocks/footer') -%>
</body>

</html>