@font-face {
  font-family: "Nunito";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/static/Nunito-Regular.ttf");
}

@font-face {
  font-family: "Nunito";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/static/Nunito-Medium.ttf");
}

@font-face {
  font-family: "Nunito";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/static/Nunito-Bold.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}

/*стили для головы*/

header {

  background: #72DEDE;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header {
  width: 90vw;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header a {
  text-decoration: none;
  color: #00194E;
  align-items: center;
}

.menu-items {
  display: flex;
  -moz-column-gap: 5vw;
  column-gap: 5vw;
  align-items: center;
  list-style: none;
}

.menu-items li {
  text-transform: uppercase;
  font-weight: 400;
  line-height: 120%;
}

.header__contacts {
  display: flex;
  -moz-column-gap: 2vw;
  column-gap: 2vw;
}

/*не стили для головы*/

body {
  margin: 0px;
  font-family: sans-serif;
  min-height: 100vh;
}

.first_screen {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 10vh;
}

.first {
  width: 90vw;
  display: flex;
  flex-direction: row;
}

.label {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 32px;
  color: #00194E;
}

.label .title {
  background: url(.././img/плашка.png) no-repeat;
  background-size: contain;
  font-size: 60px;
  padding: 5vw;
}

.sign {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.sign img {
  margin-bottom: -10px;
}

.sign button {
  z-index: -1;
  height: 90px;
  width: 300px;
  border-radius: 15px;
  border: none;
  background-color: #00194E;
  color: white;
  font-size: 20px;
}

.description {
  box-shadow: inset 0 20px 20px -20px black, inset 0 -20px 20px -20px black;
  background: url("../img/фон паралакс.png");
  height: 500px;
  background-attachment: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-direction: column;
  font-size: 60px;
  align-items: center;
  position: relative;
  color: white;
}

.description .mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.description .title1 {
  z-index: 3;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 10px;
}

.description .text {
  z-index: 3;
  font-weight: 500;
  font-size: 24px;
  padding-left: 5vw;
  padding-right: 5vw;
  text-align: justify;
}

/* стили для подвала*/

footer {
  background: #00194E;
  color: white;
  padding-top: 10px;
  margin-top: 0px;
  font-family: Nunito;
  padding-bottom: 30px;
  padding-top: 30px;
  justify-self: bottom;
  align-self: end;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-right: 10%;
  margin-left: 10%;
}

.footer-link {
  display: flex;
  flex-direction: column;

}

.footer-links-logo {
  font-size: 24px;
  width: 40%;
  align-self: center;
}

.footer-link a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.footer-link a:hover {
  opacity: 0.4;
}

.footer-block {
  width: 60%;
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}

/*не подвал*/
/*стили index*/


.serv-h2,
.sp-h2 {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #00194E;
  /*margin-top: 15px;*/
}

.serv-h2>h2 {
  font-size: 30px;
}

.serv_im {
  border-radius: 50%;
  margin-bottom: 10px;
}

.sp-h2 {
  /*padding-top: 50px;
    margin-top: 20px;*/
  font-size: 22px;
  margin-bottom: 0;
  padding-bottom: 0;
  color: #00194E;
}

.our_service_conteiner {
  display: flex;
  flex-wrap: wrap;
  max-width: 1140px;
  margin: 0 auto;
  padding-top: 0px;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 10px;
  margin: 10px 10px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;

}

.service>p {
  text-transform: uppercase;
  border-radius: 25%;
  padding: 5px;
  color: #00194E;

  border: solid 1px #00194E;
  cursor: pointer;
}


/*не стили index*/





/* контакты*/
.body-contact {
  display: flex;
  justify-content: center;
  align-items: center;

}

.vis-cont {
  width: 70%;
  margin-top: 10px;
  background-color: white;
  padding-top: 20px;
  margin-bottom: 30px;
}

.main-cont {
  display: flex;
}

.coc {
  width: 100%;
}

.label-cont {
  width: 50%;
  height: 100%;
}

.descr-cont {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
  margin-right: 10%;
  margin-left: 10%;
}


.descr-cont-item {
  text-align: justify;
}


/* не контакты*/

/*стили услуги*/
/*не стили услуги*/

/*стили специалисты*/
.d-doctors {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.d-doctor {
  width: 80%;
  max-width: 700px;
  display: flex;
  flex-direction: row;
  padding: 40px;
  margin: 20px;
  box-shadow: 8px 8px 30px 3px rgba(127, 225, 255, 0.479);
}

.d-2 {
  flex-direction: row-reverse;
  box-shadow: -8px 8px 30px 3px #70B3F1;
}

.d-img {}

.d-text {
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}

/*не стили специалисты*/
.price {
  align-self: last baseline;
  font-size: 20px;

  font-style: italic;
}

.name-of-operation {
  display: flex;
  width: 40%;
  justify-content: space-between;
  border-bottom: 3px solid #00194E;
  border-radius: 10px;
}

.item-oper {
  display: flex;
  width: 500px;
  justify-content: space-between;
}

.title {
  font-size: 24px;
  margin-left: 50px;
}

.serv-icon-info.open .plus {
  width: 28px;
  content: url(/img/ArrowUp.svg);
}

.plus {
  width: 28px;

  background-repeat: no-repeat;
  margin-right: 50px;
  background-position: center center;
  content: url(/img/Arrow\ 1.svg);
}

.showPrice {
  content: url(/img/ShowPrice\ 3.svg);
  width: 130px;

  margin-left: 20px;
}

.serv-list-item.open .showPrice {
  content: url(/img/NonePrice\ 2.svg);
  width: 130px;
  margin-left: 20px;
}

.serv-icon-info ul {
  margin: 0;
  list-style: none;

  padding-left: 20px;
  display: none;
}

.serv-icon-info .name-of-operation {
  font-size: 18px;
  cursor: pointer;
}

.serv-icon-info .name-of-operation::before {
  font-size: 80%;
  color: green;
}

.serv-icon-info.open ul {
  display: block;
  align-items: flex-start;
}

.serv-icon-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.serv-icon-info.open .serv-list-item .price {
  margin: 0;
  list-style: none;
  padding-left: 20px;
  display: none;
}

.serv-icon-info.open .serv-list-item .item-oper {
  font-size: 18px;
  cursor: pointer;
}

.serv-icon-info.open .serv-list-item .item-oper::before {
  font-size: 80%;
  color: green;
}

.serv-icon-info.open .serv-list-item.open .price {
  display: block;
}

.serv-icon-info.open .serv-list-item {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-top: 0px;
  padding-top: 10px;
}

.serv-icon {
  margin-bottom: 30px;
}


/* Слайдер: */
.slider {
  max-width: 40%;
  /* Положение элемента устанавливается относительно его исходной позиции: */
  position: relative;
  /* Центрируем по горизонтали: */
  margin: auto;
  height: 300px;
}

/* Картинка масштабируется по отношению к родительскому элементу: */
.slider .item div {
  /* Элемент меняет размер так, чтобы заполнить блок и сохранить пропорции: */
  object-fit: scale-down;
  width: 100%;
  height: 300px;
}

/* Кнопки назад и вперёд: */
.slider .previous,
.slider .next {
  /* Добавляет курсору иконку, когда тот оказывается над кнопкой: */
  cursor: pointer;
  /* Положение элемента задаётся относительно границ браузера: */
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  /* Оформление самих кнопок: */
  color: blue;
  font-weight: bold;
  font-size: 16px;
  /* Плавное появление фона при наведении курсора: */
  transition: 0.6s ease;
  /* Скругление границ: */
  border-radius: 0 3px 3px 0;
}

.slider .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* При наведении курсора на кнопки добавляем фон кнопок: */
.slider .previous:hover,
.slider .next:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

/* Анимация слайдов: */
.slider .item {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {

  /* Устанавливаем и изменяем степень прозрачности: */
  from {
    opacity: 0.4
  }

  to {
    opacity: 1
  }
}



.auth__container {
  width: 100vw;
  min-height: 490px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.align-cont{

}

.auth__container .auth__title {
  margin-bottom: 30px;
  color: #03045E;
  font-size: 24px;
}

.auth__form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.auth__input-cont {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.auth__input {
  width: 400px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #03045E;
  font-size: 20px;
  padding-left: 20px;
  color: #03045E;
}

.auth__input::-moz-placeholder {
  color: #0077B6;
}

.auth__input::placeholder {
  color: #0077B6;
}

.auth__input:focus {
  background-color: rgba(1, 186, 179, 0.1);
  border: 1px solid #03045E;
  border-color: #03045E;
  border-radius: 5px;
  outline: 0;
}

.auth__button {
  margin-top: 10px;
  height: 50px;
  width: 400px;
  background-color: #03045E;
  color: white;
  border: 0px;
  border-radius: 5px;
  font-size: 24px;
  font-family: "Mont";
  font-weight: 600;
  font-style: normal;
}

.auth__button:hover {
  background-color: #0077B6;
  cursor: pointer;
}

.auth__button:disabled {
  background-color: #CAF0F8;
}
#forgot{
  outline: none;
  border: none;
  color:#00194E;
  background-color: none;
  font-size: 16px;
  background: none;
  cursor: pointer;
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

.modal {
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  display: none;
}

.modal_close {
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  top: 10px;
  right: 10px;
  float: right;
  background-image: url("/img/CloseModal.svg");
}

.modal_close:hover,
.modal_close:focus {
  cursor: pointer;
  transform: scale(1.2);
}

.modal_close_white {
  background-image: url("/img/CloseModalWhite.svg");
}

.modal_body-confirm {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
  row-gap: 10px;
}

.modal_body-confirm p {
  font-family: "Mont";
  font-weight: 400;
  font-style: normal;
  color: #03045E;
  font-size: 24px;
}

.modal_content-warning {
  background-color: white;
  position: relative;
  margin: auto;
  margin-bottom: auto;
  margin-top: 10%;
  width: 450px;
  height: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.modal_content-question {
  background-color: white;
  position: relative;
  margin: auto;
  margin-bottom: auto;
  margin-top: 10%;
  width: 450px;
  height: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.modal_content-form {
  background-color: white;
  position: relative;
  margin: auto;
  margin-bottom: auto;
  margin-top: 1.5%;
  width: 525px;
  height: 95%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.yes {
  height: 40px;
  width: 100px;
  background-color: #03045E;
  color: white;
  border: 0px;
  border-radius: 5px;
  font-size: 24px;
}

.yes:hover {
  background-color: #0077B6;
  cursor: pointer;
}

.yes:disabled {
  background-color: #CAF0F8;
}

.no {
  height: 40px;
  width: 100px;
  background-color: white;
  color: #03045E;
  border: 0px;
  border-radius: 5px;
  font-size: 24px;
}

.no:hover {
  background-color: #CAF0F8;
  cursor: pointer;
}

.no:disabled {
  color: #CAF0F8;
}

.modal-confirm {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 10%;
  padding-bottom: 10%;
  justify-self: end;
  align-self: end;
  justify-content: space-around;
}

.buttons-confirm {
  width: 100%;
  margin-top: 20px;
  align-self: end;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.modal_header {
  width: 100%;
  height: 40px;
  background-color: #03045E;
  color: white;
  font-family: "Mont";
  font-weight: 400;
  font-style: normal;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  font-size: 20px;
}

.modal form {
  width: 80%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.input-area {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.input-area input {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #03045E;
  font-size: 18px;
  padding-left: 20px;
  color: #03045E;
}

.input-area input::-moz-placeholder {
  color: #0077B6;
}

.input-area input::placeholder {
  color: #0077B6;
}

.input-area input:focus {
  background-color: rgba(1, 186, 179, 0.1);
  border: 1px solid #03045E;
  border-color: #03045E;
  border-radius: 5px;
  outline: 0;
}

.modal_body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.role-date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

.input-area-date {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  align-items: start;
}

.input-area-date input {
  width: 180px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #03045E;
  font-size: 18px;
  padding-left: 20px;
  color: #03045E;
}

.input-area-date input::-moz-placeholder {
  color: #0077B6;
}

.input-area-date input::placeholder {
  color: #0077B6;
}

.input-area-date input:focus {
  background-color: rgba(1, 186, 179, 0.1);
  border: 1px solid #03045E;
  border-color: #03045E;
  border-radius: 5px;
  outline: 0;
}

.form-radio-group {
  display: flex;
  flex-direction: column;
}

.form-radio-group .form_radio_group-item {
  display: block;
  margin-bottom: 10px;
}

.form-radio-group .form_radio_group-item input[type=radio] {
  display: none;
}

.form-radio-group .form_radio_group-item input[type=radio]:checked+label {
  background-color: #03045E;
  color: white;
}

.form-radio-group .form_radio_group-item label {
  display: block;
  width: 180px;
  height: 30px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
  text-align: center;
  line-height: 30px;
  background-color: white;
  color: #03045E;
  border: 1px solid #03045E;
  border-radius: 5px;
  font-size: 18px;
}

.form-radio-group .form_radio_group-item label:hover {
  background-color: #CAF0F8;
}

.form_button {
  height: 40px;
  width: 250px;
  background-color: #03045E;
  color: white;
  border: 0px;
  border-radius: 5px;
  font-size: 20px;
  align-self: center;
}

.form_button:hover {
  background-color: #0077B6;
  cursor: pointer;
}

.form_button:disabled {
  background-color: #CAF0F8;
}



.table {
  margin-top: 20px;
  border: 1px solid #03045E;
  border-radius: 15px;
  border-spacing: 0;
  text-align: left;
  font-size: 16px;
}

.table th {
  font-family: "Mont";
  font-weight: 600;
  font-style: normal;
  color: #03045E;
}

.table td,
.table th {
  height: 40px;
  box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.25) inset;
  padding-left: 10px;
  padding-right: 10px;
}

.user-wrapper{
  min-height: 500px;
}
.admin-wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.admin-container{
  color: #00194E;
  font-size: 24px;
  width: 70%;
}
#users{
  width: 100%;
}