<footer>

    <div class="footer-links">
        <div class="footer-links-logo">
            <h4>Татошка</h4>
        </div>
        <div class="footer-block">
            <div class="footer-link">
                <a href="index.html">Главная</a>
            </div>
            <div class="footer-link">
                <a href="doctors.html">Врачи</a>
            </div>
            <div class="footer-link">
                <a href="services.html">Услуги</a>
            </div>
            <div class="footer-link">
                <a href="contact.html">Контакты</a>
            </div>
        </div>
        <div class="footer-block">
            <div class="footer-link">
                <a href="greeting">Приветствие</a>
            </div>
            <div class="footer-link">
                <a href="accesscontrol">Нарушение контроля доступа</a>
            </div>
            <div class="footer-link">
                <a href="injection">Инъекции</a>
            </div>
            <div class="footer-link">
                <a href="identification">Ошибки идентификации и аутентификации</a>
            </div>
            <div class="footer-link">
                <a href="loging">Ошибки логирования и мониторинга безопасности</a>
            </div>
        </div>
    </div>
</footer>