<footer>

    <div class="wrapper">
        <!--<div class="footer-block">
        <div class="footer-logo">
            <h3>Татошка</h3>
            <p>Ветеринарный центр</p>
        </div>
    </div>
    <hr>-->
        <div class="footer-links">
            <div class="footer-links-logo">
                <h4>Татошка</h4>
            </div>
            <div class="footer-link">
                <p>Татошка</p>
                <a href="#">Главная</a>
            </div>
            <div class="footer-link">
                <p>Татошка</p>
                <a href="#">Врачи</a>
            </div>
            <div class="footer-link">
                <p>Татошка</p>
                <a href="#">Услуги</a>
            </div>
            <div class="footer-link">
                <p>Татошка</p>
                <a href="#">Контакты</a>
            </div>

        </div>




</footer>