<header>

    <ul class="head">
        <li><a href="index.html">Главная</a></li>
        <li><a href="services.html">Услуги</a></li>
        <li><a href="doctors.html">Врачи</a></li>
        <li><a href="contact.html">Контакты</a></li>
        <li><a href="authPage">Войти</a></li>
    </ul>
</header>